.container {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item1 {
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 10px;
  border: 2px solid grey;
}
.item2 {
  width: 250px;
  height: 100px;
  background-color: black;
  margin-bottom: 10px;
  border: 2px solid grey;
}

.item3 {
  width: 100px;
  height: 400px;
  background-color: black;
  border: 2px solid grey;
}

.item4 {
  width: 100px;
  height: 400px;
  background-color: black;
  border: 2px solid grey;
}

.item5 {
  width: 100px;
  height: 400px;
  background-color: black;
  border: 2px solid grey;
}
